@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle, #EEEEEE 40%, #00ADB5 80%);


}